

.con {
    width: 100%;
}

body {
    background-color: #edf3f5;
}

.nav {
    background-color: #448aff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
}

.navp2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    align-items: center;
}

/* ....................................................... */

.part1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px;
    
   
}



table {
    background-color: white;
    width: 300px;
    
   
}

table, tr,td {
    border: #edf3f5 solid 2px ;
    border-collapse: collapse;
}

h2 {
color: #4c6069 ;
}

h3 {
color: #4c6069 ;
font-size: 10px;
}

.star-cup{
    width: 400px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   
}

.star {
    display: grid;
    grid-template-columns: auto auto;
    
}

.cup {
    display: grid;
    grid-template-columns: auto auto;
    
}

.star-icon {
    background-color: #11c15b;
    width: 100px;
    height: 80px;
   
}
.star-text {
    background-color: #32ed80;
    color: white;
    width: 300px;
    height: 80px;
    
    
}

.cup-icon {
    background-color: #448aff;
    width: 100px;
    
    height: 80px;

}
.cup-text {
    background-color: #91baff;
    color: white;
    width: 300px;
    height: 80px;
    
}

.spa {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    gap: 30px;
  
}

/* ....................................................... */

.part2 {
    display: grid;
    grid-template-columns: auto auto;
    width: 1300px
}


.members {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
   
}

.members {
   
    background-color: white;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: 20px;


}

.im div img {
    padding: 3px;
    margin: 15px;
}



.im {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #edf3f5 solid 2px ;

    
}


span {
    
    font-weight: bold;
    color: black;
}

p {
    margin-top: 40px;
    color: rgb(150, 147, 147);
}
 
.inli {
    display: flex;
    flex-direction: row;
}

.per {
    margin-left: 15px;
    margin-top: 5px;
}

/* ....................................................... */

.red-green {
    display: flex;
    flex-direction: row;
    width: 600px;
    gap: 25px;
    height: 500px;
    margin-top: 20px;
    
}

.par {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 35px;
    width: 300px;
    text-align: center;
}

.red {
    background-color: #ff5252;
    color: white;
    text-align: start;
    padding: 10px;
    
}

.green {
    background-color: #11c15b;
    color: white;
    text-align: start;
    padding: 10px;
}

.up {
    background-color: white;
}

/* ....................................................... */


.part3 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    margin-top: 25px;

}

.bold {
    font-weight: bold;
}

.color-green {
    color: #14c163;
}

.color-red {
    color: #ff5458;
}

.chart {
    width: 25%;
    padding: 10px;
}


    .barr1 {width: 25%; height: 18px; background-color: #f44336;}
    .barr2 {width: 60%; height: 18px; background-color: #2196F3;}
    .barr3 {width: 85%; height: 18px; background-color: #04AA6D;}
    .barr4 {width: 40%; height: 18px; background-color: #ff9800;}

    /* ....................................................... */

    @media screen and (max-width:1230px){

       

        .nav {
            background-color: #448aff;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 1100px;
            height: 60px;
            align-items: center;
        }

        .part1 {
            display: grid;
            grid-template-columns: auto auto ;
            margin: 20px;
            justify-content: center;
            width: 1300px;
        }

        .part2 {
            display: grid;
            grid-template-columns: auto;
            width: 1300px;
            justify-content: center;
        }
        .part3 {
            display: grid;
            grid-template-columns: auto auto;
            gap: 40px;
            background-color: white;
            width: 500px;
            margin-top: 25px;
            margin-left: 400px;
            justify-content: center;
           
        
        }
        .star-cup{
            width: 400px;
           display: flex;
           flex-direction: column;
           gap: 20px;
           justify-content: center;
           
           
           
        }

        .chart {
            width: 200px;
            height:100px ;
        }
       
       
    }